.para {
    color: red;
    font-size: 50px;
}

.para.small-para {
    font-size: 20px;
}

button {
    font-size: 30px;
}

#confirm-button {
    color: white;
    background-color: green;
    border-color: white;
}

#cancel-button {
    color: black;
    background-color: rgb(241, 183, 183);
    border-color: grey;
}

.text {
    color: rgb(95, 241, 95);
    font-size: 60px;
}

.text.child {
    color: red;
    font-size: 30px;
}