    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    body {
        height: 100vh;
        margin: 0;
        overflow: hidden;
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    img {
        width: 600px;
        display: flex;
    }
    
    button {
        font-family: Roboto, sans-serif;
        border: none;
        font-weight: 600;
        padding: 8px;
        border-radius: 10px;
        background: #eee;
    }
    
    input {
        border: 1px solid #ddd;
        border-radius: 16px;
        padding: 8px 24px;
        width: 400px;
        margin-bottom: 16px;
        display: flex;
    }
    
    .left-links,
    .right-links {
        display: flex;
        gap: 10px;
    }
    
    .header,
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .footer {
        background-color: #eeeeee;
    }
    
    a {
        color: #646464;
        font-weight: 600;
        text-decoration: none;
    }